<h2><%= @customer.last_name %> <%= @customer.first_name %> さんの会員情報編集</h2>
<%# モデルにインスタンス変数を指定するだけではコントローラーをうまく認識してくれないため、url・method:のオプションを利用する %>
<%#url:→どのコントローラーのどのアクションを使うか method:→どのメソッドを使うか%>
<%= form_with model:@customer, url: admin_customer_path, method: :PATCH, local: true do |f| %>

<div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :kana_last_name %>
    <%= f.text_field :kana_last_name %>
    <%= f.label :kana_first_name %>
    <%= f.text_field :kana_first_name %>
  </div>

  <div class="field">
    <%= f.label :post_code %>
    <%= f.text_field :post_code %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :telephone %>
    <%= f.text_field :telephone %>
  </div>

  <div class="field">
    <%= f.label :telephone %>
    <%= f.text_field :telephone %>
  </div>

  <div class="field">
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
      <% end %>
