<div class='container'>
  <h2>ショッピングカート</h2>
  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |item| %>
      <tr>
        <td><%= item.item.name %></td>
        <td><%= item.item.add_tax_price.to_s(:dalimited) %></td>
        <td>
          <%= form_with model:item, local: true do |f|  %>
            <%= f.select :amount, *[1..10] %>
            <%= f.submit %>
          <% end %>
        </td>
        <td><%= item.item.add_tax_price.to_s(:dalimited).to_i * item.amount %></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
