<div class="container">
  <div class='form-group row'>
    <%= attachment_image_tag @item,:image,:fill, 304, 171, format: 'jpeg' %>

    <div class='col'>
      <h3>
        <%= @item.name %>
      </h3>
      <p>
        <%= @item.introduction %>
      </p>
      <p></p>
        <strong class='h4'>
          ¥ <%= @item.price %>
        </strong>
        (税込)
      </p>
      <%= form_with model:@cart_items, local: true do |f|  %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.select :amount, *[1..10] %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>