<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>

    <!--ロゴ-->

    <!--<a class="logo" href="/"><#%= image_tag('logoimage') %></a>-->
    
  <ul>
    <% if admin_signed_in? %><!--adminでログインされている-->
      <li><%= link_to '商品一覧' , admin_items_path, class: "btn btn-light" %></li>
      <li><%= link_to '!会員一覧' , '#', class: "btn btn-light" %></li>
      <li><%= link_to '注文履歴一覧' , admin_path, class: "btn btn-light" %></li>
      <li><%= link_to 'ジャンル一覧' , admin_genres_path, class: "btn btn-light" %></li>
      <li><%= link_to 'ログアウト' , destroy_admin_session_path, method: :delete, class: "btn btn-light" %></li>
    <% elsif customer_signed_in? %><!--cutomerでログインされている-->
      <li><%= link_to 'マイページ' , customers_mypage_path, class: "btn btn-light" %></li>
      <li><%= link_to '商品一覧' , root_path, class: "btn btn-light" %></li>
      <li><%= link_to '!カート' , '#', class: "btn btn-light" %></li>
      <li><%= link_to 'ログアウト' , destroy_customer_session_path, method: :delete, class: "btn btn-light" %></li>
    <% else %><!--ログインされていない-->
      <li><%= link_to 'About' , about_path, class: "btn btn-light" %></li>
      <li><%= link_to '商品一覧' , root_path, class: "btn btn-light" %></li>
      <li><%= link_to '新規登録' , new_customer_registration_path, class: "btn btn-light" %></li>
      <li><%= link_to 'ログイン' , new_customer_session_path, class: "btn btn-light" %></li>
    <% end %>
  </ul>
    <!--ログインしてたら、ようこそnameさん表示-->

    <!--できれば検索窓もつける-->

  </header>

  <body>
    <%= yield %>
  </body>

  <footer>

  </footer>

</html>
